{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static "css/main.css" %}>
    {% block title %} {% endblock %}
</head>
<body>
    <div class="topnav">
        <a href="{% url 'furniture:all-products' %}">Salon</a>
        <div class="topnav-right">
        {% with items=cart|length %}
            {% if items %}
           
                <a href="{% url 'cart:cart_view' %}">
                  Cart:{{ items }} item{{ items|pluralize }}
                {% comment %} ETB {{ cart.get_total_price }} {% endcomment %}
                </a>
            {% else %}
            Your cart is empty
            {% endif %}
            {% endwith %}
        <a href="#Service">Services</a>
        <a href="#contact">Contact</a>
        </div>
      </div>

            {% block sidebar%}
            {% endblock sidebar %}
      
            {% block content %}
            {% endblock %}
</body>
</html>